section.container {
    margin-top: 1rem;
    width: 80%;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.title {
    margin-top: 2rem;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.4rem;
}

li {
    background-color: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

body.ihui-dark {
    background-color: #2f2732;
}

main {
    max-width: 1400px;
}
